# config context path to "/" by setting an empty string
server:
  contextPath:
  port: 8080

# JACKSON
spring:
  jackson:
    serialization:
      INDENT_OUTPUT: true

jwt:
  header: Authorization
  secret: mySecret
  expiration: 604800
  route:
    authentication:
      path: auth
      refresh: refresh

wechat:
  mp:
    secret: d4624c36b6795d1d99dcf0547af5443d
    appId: wxf183e81ce4464169
    token: aa
    aesKey: bb
druid:
  url: jdbc:mysql://werewolf.mrourou.com:3306/werewolf?useUnicode=true&characterEncoding=utf8
  username: werewolf
  password: pass1234
  initial-size: 1
  min-idle: 1
  max-active: 20
  test-on-borrow: true
  driver-class: com.mysql.jdbc.Driver

mybatis:
    type-aliases-package: tk.mybatis.springboot.model
    mapper-locations: classpath:mapper/*.xml

mapper:
    mappers:
        - com.msh.util.MyMapper
    not-empty: false
    identity: MYSQL
security:
  oauth2:
    client:
      appid: wxf183e81ce4464169
      secret: d4624c36b6795d1d99dcf0547af5443d
      accessTokenUri:  https://api.weixin.qq.com/sns/oauth2/access_token
      userAuthorizationUri: https://open.weixin.qq.com/connect/oauth2/authorize
      tokenName: access_token
      authenticationScheme: query
      clientAuthenticationScheme: form
      url: http://werewolf.mrourou.com/#/
    resource:
      userInfoUri: https://api.weixin.qq.com/sns/userinfo

#logging:
#  level:
#    org.springframework:
#      security: DEBUG