<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msh.common.mapper.GameMapper" >
    <resultMap id="BaseResultMap" type="com.msh.common.model.Game" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="room" property="room" jdbcType="INTEGER" />
        <result column="race" property="result" jdbcType="INTEGER"/>
        <result column="player_list" property="playerList" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>