<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msh.common.mapper.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.msh.common.model.Room" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="club" property="club" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="INTEGER" />
    <result column="expiration_date" property="expirationDate" jdbcType="INTEGER" />
    <result column="max_player_number" property="maxPlayerNumber" jdbcType="INTEGER" />
    <result column="wereworf_victory" property="wereworfVictory" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
</mapper>