<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msh.mapper.RoundMapper" >
  <resultMap id="BaseResultMap" type="com.msh.model.Round" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="roundno" property="roundno" jdbcType="INTEGER" />
    <result column="player_number" property="playerNumber" jdbcType="INTEGER" />
    <result column="player_state" property="playerState" jdbcType="INTEGER" />
    <result column="inserttime" property="inserttime" jdbcType="INTEGER" />
    <result column="overtime" property="overtime" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="sheriffuid" property="sheriffuid" jdbcType="INTEGER" />
    <result column="sheriffpid" property="sheriffpid" jdbcType="INTEGER" />
    <result column="wolfkilluid" property="wolfkilluid" jdbcType="INTEGER" />
    <result column="wolfkillpid" property="wolfkillpid" jdbcType="INTEGER" />
    <result column="prophetuid" property="prophetuid" jdbcType="INTEGER" />
    <result column="prophetpid" property="prophetpid" jdbcType="INTEGER" />
    <result column="witchpoisonuid" property="witchpoisonuid" jdbcType="INTEGER" />
    <result column="witchpoisonpid" property="witchpoisonpid" jdbcType="INTEGER" />
    <result column="witchsaveduid" property="witchsaveduid" jdbcType="INTEGER" />
    <result column="witchsavedpid" property="witchsavedpid" jdbcType="INTEGER" />
    <result column="voteuid" property="voteuid" jdbcType="INTEGER" />
    <result column="votepid" property="votepid" jdbcType="INTEGER" />
  </resultMap>
</mapper>